/*Hero block*/
.hero {
  background-image: url("../assets/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero .content-block {
  height: 90vh;
}

.hero .bg-image {
  height: 100%;
}

/*Social Networks block*/
.social-networks {
  background-image: url("../assets/social_network_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}