/*Hero block*/
.hero {
  background-image: url("../assets/backgrounds/hero_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero .content-block {
  height: 90vh;
}

.hero .bg-image {
  height: 100%;
}

/*Social Networks block*/
.social-networks {
  background-image: url("../assets/backgrounds/social_network_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*First lesson banner block*/
.first-lesson-banner {
  background-image: linear-gradient(120deg,  rgba(255, 236, 210, 0.8) 0%, rgba(252, 182, 159, 0.8) 100%);
}